<div class="modal fade" id="modalFavorite" tabindex="-1" role="dialog" aria-labelledby="modalFavoriteTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFavoriteTitle"><i class="fa fa-pencil-square-o"></i> &nbsp;แบบสอบถาม
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="alert-error-favorite" class="alert alert-danger hide" role="alert">
                </div>
                <form id="form-favorite">
                    <div class="form-group">
                        <label for="username">Province you want to go to </label>
                        <!-- <input type="text" name="province" class="form-control" id="province"
                            placeholder="จังหวัดที่ท่านอยากไป"> -->
                        <select class="custom-select" name="province">
                            <option selected>Province you want to go to</option>
                            <option value="ชลบุรี">ชลบุรี</option>
                            <option value="จันทรบุรี">จันทรบุรี</option>
                            <option value="ตราด">ตราด</option>
                            <option value="ระยอง">ระยอง</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="categoryId">ประเภทบริการ (เลือกได้หลายค่า)</label>
                    </div>

                    <div id="template-form-favorite-checkbox">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="categoryId[]"
                                    id="categoryId{{categoryNameValue}}" value="{{categoryNameValue}}">
                                <label class="form-check-label"
                                    for="categoryId{{categoryNameValue}}">{{categoryNameDisplay}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birthday">วัดเกิดของท่าน</label>
                        <input type="date" name="birthday" class="form-control" id="birthday">
                    </div>

                    <input type="hidden" name="action" value="add">

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                <button type="button" class="btn button-theme" onclick="clickBtnFavorite()">confirm</button>
            </div>
        </div>
    </div>
</div>


<div id="template-alert-error-favorite" style="display: none;">
    <strong>{{message}}</strong>
</div>