<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLoginTitle"><i class="flaticon-logout"></i> &nbsp;เข้าสู่ระบบ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="alert-error" class="alert alert-danger hide" role="alert">
                    <strong>ชื่อผู้ใช้ หรือ รหัสผ่านไม่ถูกต้อง</strong>
                </div>
                <form id="form-login">
                    <div class="form-group">
                        <label for="exampleInputEmail1">ชื่อผู้ใช้ หรือ อีเมลล์</label>
                        <input type="email" name="username" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="อีเมลล์">
                        <small id="emailHelp" class="form-text text-muted">อีเมลล์ที่ทำการสมัครสมาชิกไว้</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">รหัสผ่าน</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                            placeholder="รหัสผ่าน">
                    </div>
                    <input type="hidden" name="client" value="web">
                    <input type="hidden" name="grantType" value="password">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="btn button-theme" onclick="clickBtnLogin()">ยืนยัน</button>
            </div>
        </div>
    </div>
</div>