<!-- Main header start -->
<header class="main-header header-transparent sticky-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="btn-back-page" onclick="window.history.go(-1); return false;">
                <img src="https://icon-library.net/images/back-arrow-icon-png/back-arrow-icon-png-8.jpg" alt="logo">
            </a>
            <a class="navbar-brand logo" onclick="clickMenuHeader('/index.html')">
                <img src="img/logos/black-logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav header-ml">
                    <li class="nav-item dropdown active">
                        <a id="label-page-main" class="nav-link" onclick="clickMenuHeader('/index.html')">
                            หน้าหลัก
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="label-page-tourism" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            ท่องเที่ยว
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" id="one-label-page-tourism"
                                    onclick="clickMenuHeader('/search.html?text=&category_id=')">สถานที่ท่องเที่ยว</a>
                            </li>
                            <li><a class="dropdown-item" id="two-label-page-tourism"
                                    onclick="clickMenuHeader('/search-event.html?text=&category_id=')">กิจกรรมท่องเที่ยว</a>
                            </li>
                            <li><a class="dropdown-item" id="three-label-page-tourism"
                                    onclick="clickMenuHeader('/search-tips.html?text=&category_id=')">ทริปท่องเที่ยว</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="label-page-categories" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            หมวดหมู่
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="index-category-menu">
                            <li><a class="dropdown-item" id="{{categoryNameValue}}-label-page-categories"
                                    onclick="clickMenuTypeHeader('{{categoryNameValue}}')">{{categoryName}}</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="label-page-article" class="nav-link"
                            onclick="clickMenuHeader('/search-article.html?text=&category_id=')">
                            บทความ
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="label-page-qa" class="nav-link" onclick="clickMenuHeader('/issue.html')">
                            ถามตอบ
                        </a>
                    </li>
                </ul>
                <ul id="menu-login-group" class="navbar-nav ml-auto menu-login-group">
                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="modal" data-target="#modalLogin">
                            <i class="flaticon-logout"></i>เข้าสู่ระบบ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-color" data-toggle="modal" data-target="#modalRegister">
                            <i class="fa fa-plus"></i>สมัครสมาชิก
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">
                            <i onclick=" clickChangeLanguage('th')"
                                style="cursor: pointer; margin-right: 5px; max-width: 25px; content: url('../img/s689630753364681404_p2_i1_w250.png'); margin-top: 0px !important;"></i>
                            <i onclick="clickChangeLanguage('en')"
                                style="cursor: pointer; margin-right: 5px; max-width: 25px; content: url('../img/united-states-of-america-300x300.png'); margin-top: 0px !important;"></i>
                        </div>
                    </li>
                </ul>
                <ul id="menu-profile-group" class="navbar-nav ml-auto menu-profile-group">
                    <li class="nav-item dropdown">
                        <a class="nav-link link-color" href="#" id="navbarDropdownMenuMember" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle"></i><span id="header-name-member">{{name_member}}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuMember">
                            <li>
                                <a class="dropdown-item" href="">
                                    <i class="fa fa-pencil-square-o"></i> จัดการข้อมูลส่วนตัว
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" onclick="clickBtnLogout()">
                                    <i class="fa fa-sign-out"></i> ออกจากระบบ
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">
                            <i onclick=" clickChangeLanguage('th')"
                                style="cursor: pointer; margin-right: 5px; max-width: 25px; content: url('../img/s689630753364681404_p2_i1_w250.png'); margin-top: 0px !important;"></i>
                            <i onclick="clickChangeLanguage('en')"
                                style="cursor: pointer; margin-right: 5px; max-width: 25px; content: url('../img/united-states-of-america-300x300.png'); margin-top: 0px !important;"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Main header end -->